<div class="hero-unit">
	<h1>Welcome to Fundoo</h1>
	<p>
		Great!
		<%= link_to "Fundoo", "http://www.google.com" %>
	</p>
	<p>
		
		<%= link_to" Signup", "#", class: "btn btn-primary btn-lar" %>
		
	</p>
</div>
