$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.footer {
	margin-top: px;
	color:$grayLight;
	a {
		color:$gray;
	}
}

/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-sze: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-raidus: 5px;
	border-raidus: 5px;
	box-shadow: 10px,10px,10px #555555;
	width: 214px;
	border: 2px
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-raidus: 5px;
	border-raidus: 5px;
	border: 2px
}

.description {
	 margin: 10px,5px;

}